In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
# Read in the 2018 lightning strike dataset.
df = pd.read_csv('eda_using_basic_data_functions_in_python_dataset1.csv')

In [3]:
df.head(10)

         date  number_of_strikes center_point_geom
0  2018-01-03                194     POINT(-75 27)
1  2018-01-03                 41   POINT(-78.4 29)
2  2018-01-03                 33   POINT(-73.9 27)
3  2018-01-03                 38   POINT(-73.8 27)
4  2018-01-03                 92     POINT(-79 28)
5  2018-01-03                119     POINT(-78 28)
6  2018-01-03                 35   POINT(-79.3 28)
7  2018-01-03                 60   POINT(-79.1 28)
8  2018-01-03                 41   POINT(-78.7 28)
9  2018-01-03                119   POINT(-78.6 28)

In [4]:
df.shape

(3401012, 3)

In [5]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
df.groupby(['date']).sum().sort_values('number_of_strikes', ascending= False).head(5)

,number_of_strikes,center_point_geom
date,,
2018-08-29,1070457,POINT(-85.7 29.1)POINT(-85.6 29.1)POINT(-84.5 ...
2018-08-17,969774,POINT(-80.6 20.3)POINT(-80.5 20.3)POINT(-80.4 ...
2018-08-28,917199,POINT(-108.2 28)POINT(-108.1 28)POINT(-108 28)...
2018-08-27,824589,POINT(-109 24.8)POINT(-108 24.8)POINT(-88.1 24...
2018-08-30,802170,POINT(-75.7 19)POINT(-75.6 19)POINT(-78 20)POI...

In [13]:
df['month'] = df['date'].dt.month

In [18]:
df.groupby(['month']).sum().sort_values('number_of_strikes', ascending=False).head(12)

TypeError: datetime64 type does not support sum operations

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401012 entries, 0 to 3401011
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   date               datetime64[ns]
 1   number_of_strikes  int64
 2   center_point_geom  object
 3   month              int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 90.8+ MB